# Игнорировать файлы Python
__init__.py

# Игнорировать файлы окружения
.env

# Игнорировать директорию окружения Django
b107django/

# Игнорировать временные файлы
*.tmp
*.log

# Игнорировать все файлы в директории, кроме .gitignore
/.venv/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать все файлы с определённым расширением
*.pyc
*.pyo

# Игнорировать папку с зависимостями
node_modules/
